:root {
  --padding-horizontal: 240px;
  --max-container-width:1920px;
  --dark-background: #030303;
  --red-background:#710707;
  --white-text:#ffffff;
  --black-text:#000000;
  --golden-text:#9d8665;
  --font-roboto: 'Roboto', sans-serif;
  --font-forum: 'Forum', cursive;
}

body {
  margin: 0;
}

h2, h3 {
  text-transform: uppercase;
  font-family: var(--font-forum);
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  margin: 0;
}

h3 {
  font-size: 32px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.section-header {
  padding-bottom: 26px;
  border-bottom: 3px solid var(--red-background);
}

.golden-font {
  color: var(--golden-text);
}

.full-width {
  width: 100%;
  min-width: 1920px;
  margin: 0;
}

.dark {
  background-color: var(--dark-background);
  color: var(--white-text);
}

.white {
  background-color: var(--white-text);
  color: var(--black-text);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.red-button {
  background-color: var(--red-background);
  color: var(--white-text);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  padding: 24px 66px 23px;
  border-radius: 10px;
  border: none;
}

.golden-hover:hover {
  background-color: var(--golden-text);
}

.golden-font-hover:hover {
  color: var(--golden-text);
}

header, .section {
  padding: 74px var(--padding-horizontal) 76px var(--padding-horizontal);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: none;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.logo-img {
  background: url("assets/svg/logo.svg") no-repeat;
  width: 50px;
  height: 34px;
  margin-right: 20px;
}

.logo-text {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font-forum);
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5px;
  font-size: 28px;
}

.main-menu {
  margin-left: 525px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 76px;
}

.menu-item-link {
  color: var(--white-text);
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
}

.menu-item-link:hover, .menu-item-link:active {
  color: var(--golden-text);
}

.menu-item:last-child {
  margin-left: 0;
}

.welcome {
  padding: 114px 0 246px 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(/museum/assets/img/night-louvre.jpg);
  background-size: 1215px 750px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.welcome-content-wrp {
  width: 598px;
  min-height: 390px;
}

.welcome-text {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin: 26px 0 76px;
}

.welcome-button {
  font-weight: 200;
}

.visiting-cards-wrp {
  margin-top: 75px;
}

.card {
  width: 440px;
  height: 422px;
  margin: 0;
  color: var(--black-text);
  font-family: var(--font-roboto);
  font-weight: 200;
  margin-bottom: 78px;
}

.card-img {
  width: 100%;
  height: 285px;
  margin-bottom: 25px;
}

.card-header:after {
  content: '';
  margin-top: 10px;
  display: block;
  width: 300px;
  border-bottom: 2px solid var(--red-background);
  -webkit-transition: width 1s;
  transition: width 1s;
}

.card:hover .card-header:after {
  width: 100%;
}

.card-tour {
  display: block;
  font-size: 22px;
  line-height: 26px;
  margin-top: 10px;
}

.card-googlestreet {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
}
/*# sourceMappingURL=styles.css.map */